body{
    margin:0;
    background:#f5f5f5;
    font-family:sans-serif;
}

.container{
    max-width:900px;
    margin:auto;
    padding:20px;
}

.form{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:12px;
    font-size:16px;
}

button{
    padding:12px 24px;
    cursor:pointer;
}

#message{
    margin:15px 0;
    font-weight:bold;
}

.tweet{
    margin:25px 0;
}

@media(max-width:700px){

.form{
    flex-direction:column;
}

button{
    width:100%;
}

}

body{
    margin:0;
    background:#f5f5f5;
    font-family:sans-serif;
}

.container{
    max-width:900px;
    margin:auto;
    padding:20px;
}

.form{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:12px;
    font-size:16px;
}

button{
    padding:12px 24px;
    cursor:pointer;
}

#message{
    margin:15px 0;
    font-weight:bold;
}

.tweet{
    margin:25px 0;
}

@media(max-width:700px){

.form{
    flex-direction:column;
}

button{
    width:100%;
}

.card{

    background:white;

    padding:15px;

    border-radius:10px;

    margin-bottom:15px;

    box-shadow:0 0 5px rgba(0,0,0,.15);

}

.card button{

    background:red;

}
